body
{
    background-color:#8D8D8D;
}
#detail td 
{
    text-align: center;
    border-bottom:  0.5px #7C7900 solid;
} 
table
{
    width: 100%;
    border-collapse: collapse;
}
#puce
{
    width: 7px;
}
td
{
    padding: 10px 0 10px 0;
}
img#logo
{
    width: 73px;
    opacity: 0.7;
    margin-top: -400px;
    position: relative;
    margin-left: -233px;
}

a#detailCandid
{
   text-decoration: blink;
   color: #707070;
   text-align: left;
}
a#detailCandid  a:visited
{
    color: #707070;
}

.titreDetail
{
    -ms-transform: rotate(-50deg); /* IE 9 */
    -webkit-transform: rotate(-50deg); /* Chrome, Safari, Opera */
    transform: rotate(-50deg);
    position: absolute;
    padding: inherit;
    top: 100px;
   
}
p.titreDetail
{
    padding: inherit;
}
#fondDetail
{
    background-color: #E4E4E4;
}
.thAcceuil
{
    height: 43px;
   font-size: 0.9em;
}

#titre_session
{
    margin-top: -35px;
}

#rouge
{
    border: 1px red solid;
}